<h1>
  Edit flight #<%= @flight.id %>
</h1>

<hr>

<form action="/update_flight/<%= @flight.id %>" method="post">

  <div class="form-group">
    <label for="flight_time">
      Flight time
    </label>

    <input type="text" id="flight_time" name="flight_time" class="form-control" value="<%= @flight.flight_time %>">
  </div>


  <div class="form-group">
    <label for="departs_at">
      Departs at
    </label>

    <input type="text" id="departs_at" name="departs_at" class="form-control" value="<%= @flight.departs_at %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @flight.description %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update flight
  </button>
</form>

<hr>

<a href="/flights">
  Go back
</a>
